<form action="/Search" method="get" novalidate="novalidate" role="search">
  <fieldset class="usajobs-nav--full_bleed__search-body">
    <div class="usajobs-nav__search-keywords-container">
      <label for="search-keyword">
        <i class="usajobs-nav__search-keywords-icon fa fa-search"></i>
        Keywords
      </label>
      <input id="search-keyword" name="search-keyword" class="usajobs-nav__search-keywords-input" placeholder="Job title, department &amp; agency, series" type="text" value="" autocomplete="off">
    </div>
    <div class="usajobs-nav__search-location-container">
      <label for="search-location">
        <i class="usajobs-nav__search-location-icon fa fa-map-marker"></i>
        Location
      </label>
      <input id="search-location" name="search-location" type="text" class="usajobs-nav__search-location-input" placeholder="City, state, zip, or country" autocomplete="off">
      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
      <input type="hidden" id="AutoCompleteSelected" name="AutoCompleteSelected">
    </div>
    <div class="usajobs-nav__search-button-container usajobs-nav--full_bleed__search-button-container">
      <button class="usa-button usa-button-primary-alt usajobs-nav__search-button">
        Search
      </button>
    </div>
  </fieldset>
</form>
