<nav class="usajobs-openopps-help-center-nav-secondary" role="navigation">
  <div class="usajobs-openopps-help-center-nav-secondary__body">
    <ul class="usajobs-openopps-help-center-nav-secondary__menu">
      <li class="usajobs-openopps-help-center-nav-secondary__container getting-started {% if page.section == 'getting-started' %}is-active{% endif %}">
        <a class="usajobs-openopps-help-center-nav-secondary__item" href="{{ site.baseurl }}/">
          Getting started
        </a>
      </li>
      <li class="usajobs-openopps-help-center-nav-secondary__container account {% if page.section == 'account' %}is-active{% endif %}">
        <a class="usajobs-openopps-help-center-nav-secondary__item" href="{{ site.baseurl }}/account/">
          Account
        </a>
      </li>
      <li class="usajobs-openopps-help-center-nav-secondary__container opportunity {% if page.section == 'opportunity' %}is-active{% endif %}">
        <a class="usajobs-openopps-help-center-nav-secondary__item" href="{{ site.baseurl }}/opportunity/">
          Opportunity
        </a>
      </li>
      <li class="usajobs-openopps-help-center-nav-secondary__container what-is-new {% if page.section == 'what-is-new' %}is-active{% endif %}">
        <a class="usajobs-openopps-help-center-nav-secondary__item" href="{{ site.baseurl }}/what-is-new/">
          What's new
        </a>
      </li>
    </ul>
  </div>
</nav>
