
<div class="usajobs-openopps-help-center-article-sidenav">
{% if page.section == 'getting-started' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Getting started
  </h3>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.sidenav == 'getting-started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/">
        What is Open Opportunities?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'top-10-tips' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/getting-started/top-10-tips/">
        Top 10 tips for creating an ideal opportunity
      </a>
    </li>
  </ul>
{% endif %}
{% if page.section == 'account' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Account
  </h3>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.sidenav == 'account' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/account/">
        How to create an account
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'account-login-gov' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/account/login-gov/">
        What is login.gov and why do I have to create an account?
      </a>
    </li>
  </ul>
{% endif %}
{% if page.section == 'opportunity' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Opportunity
  </h3>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.sidenav == 'opportunity' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/opportunity/">
        How to create an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-advertise' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/opportunity/advertise/">
        How to advertise an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-participate' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/opportunity/participate/">
        How to participate in an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-search' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/opportunity/search/">
        How to search for an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'accept-applicants' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/opportunity/accept-applications/">
        How to continue accepting applicants
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'sample-opportunities' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/opportunity/sample-opportunities/">
        Sample Opportunities
      </a>
    </li>
  </ul>
{% endif %}
</div>
