<header class="usajobs-site-header" role="banner">
  {% include components/nav/_gov-banner.html %}
  <nav class="usajobs-nav usajobs-nav--vTest" role="navigation" data-object="nav">
    <div class="usajobs-nav__body">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header">
          <div class="usajobs-nav__brand-container">
            <a class="usajobs-nav__brand usajobs-nav--vTest__brand" href="/">
              <span class="logo"></span>
              <span class="test">FAKE <i class="fa fa-exclamation-circle"></i></span>
            </a>
          </div>
          <div class="usajobs-nav__menu" id="usajobs-menu">
            <ul>
              <li class="usajobs-nav__menu-container usajobs-nav__account" data-state="is-closed">
                <a class="usajobs-nav__section-link menu-toggle is-active" data-behavior="nav.menu.toggle" aria-haspopup="true" href="#account" title="Account">
                  <div class="usajobs-icon--center">
                    <span class="fas fa-user fa-fw" data-fa-transform="up-4"></span>
                  </div>
                  <span class="usajobs-nav__account_name">QQ</span>
                  <span class="usajobs-nav__first_name">Quadrina</span>
                </a>
                <ul class="usajobs-nav__secondary-menu" aria-expanded="false" aria-label="submenu">
                  <li><a href="/Applicant/MyAccount/Home">Home</a></li>
                  <li><a href="/Applicant/Profile/PersonalInformation">Profile</a></li>
                  <li><a href="/Applicant/MyAccount/Documents">Documents</a></li>
                  <li><a href="/Account/Maintenance">Username &amp; Password</a></li>
                  <li><a href="/Applicant/Account/LogOff">Sign Out</a></li>
                </ul>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__help">
                <a class="usajobs-nav__section-link" href="http://usajobs.github.io/Help" title="Help">
                  <span class="fas fa-question-circle fa-fw"></span>
                  Help
                </a>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search" data-state="is-closed">
                <a data-behavior="nav.menu.search-toggle" aria-controls="usajobs-search-form-v2" class="usajobs-nav__section-link" href="/" title="Job Search">
                  <span class="fas fa-search fa-fw" data-fa-transform="right-8"></span>
                  Search
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="usajobs-search-form-v2" class="usajobs-nav__search" aria-expanded="false" role="menu">
          {% include components/nav/_search-form.html %}
        </div>
      </div>
    </div>
  </nav>
</header>
