<header class="usajobs-site-header" role="banner" aria-label="header">
  {% include components/nav/_gov-banner.html %}
  <nav class="usajobs-nav usajobs-nav--openopps" role="navigation" aria-label="main navigation" data-object="nav">
    <div class="usajobs-nav__body usajobs-nav--openopps">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--openopps">
          <div class="usajobs-nav__brand-container usajobs-nav--openopps__brand-container">
            <a class="usajobs-nav__brand usajobs-nav--openopps__brand" href="/">
              {% include logo/open-opps.svg %}
            </a>
          </div>
          <div class="usajobs-nav__menu" id="usajobs-menu">
            <ul>
              <li class="usajobs-nav__menu-container usajobs-nav__account">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link menu-toggle" href="https://openopps.digitalgov.gov/auth/" title="Account">
                  <span class="fas fa-sign-in-alt fa-fw" data-fa-transform="right-6"></span>
                  Sign In
                </a>
              </li>
              <!-- li class="usajobs-nav__menu-container usajobs-nav__help usajobs-nav--openopps__help">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link is-active" href="http://openopps.usajobs.gov/Help" title="Help">
                  <span class="usajobs-nav--openopps__section-active">
                    <span class="fas fa-question-circle fa-fw"></span>Help
                  </span>
                </a>
              </li -->
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="https://openopps.digitalgov.gov/tasks/" title="Search Opportunities">
                  <span class="fas fa-search fa-fw" data-fa-transform="right-8"></span> Search
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
