<header class="usajobs-site-header" role="banner" aria-label="header">
  {% include components/nav/_gov-banner.html %}
  <nav class="usajobs-nav usajobs-nav--openopps" role="navigation" aria-label="main navigation" data-object="nav">
    <div class="usajobs-nav__body usajobs-nav--openopps">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--openopps">
          <div class="usajobs-nav__brand-container usajobs-nav--openopps__brand-container">
            <a class="usajobs-nav__brand usajobs-nav--openopps__brand" href="/">
              {% include logo/open-opps.svg %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="usa-nav-secondary">
    <ul class="usa-unstyled-list usa-nav-secondary-links">
      <li>
        <a href="http://openopps.usajobs.gov//">Back to Open Opportunities</a>
      </li>
    </ul>
  </div>
</header>
