<header class="usajobs-site-header" role="banner" aria-label="header">
  {% include components/nav/_gov-banner.html %}
  <nav class="usajobs-nav usajobs-nav--openopps" role="navigation" aria-label="main navigation" data-object="nav">
    <div class="usajobs-nav__body usajobs-nav--openopps">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--openopps">
          <div class="usajobs-nav__brand-container usajobs-nav--openopps__brand-container">
            <a class="usajobs-nav__brand usajobs-nav--openopps__brand" href="/">
              <amp-img src="{{ site.baseurl }}/assets/images/logo/png/open-opportunities-2x.png"
                srcset="{{ site.baseurl }}/assets/images/logo/png/open-opportunities-2x.png 768w,
                {{ site.baseurl }}/assets/images/logo/png/open-opportunities-2x-narrow.png 100w"
                width="700"
                height="100"
                layout="responsive"
                alt="Open Opportunities logo"></amp-img>
            </a>
          </div>
          <div class="usajobs-nav__menu" id="usajobs-menu">
            <ul>
              <li class="usajobs-nav__menu-container usajobs-nav__help usajobs-nav--openopps__help">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link is-active" href="http://openopps.usajobs.gov/" title="Help">
                  Back to Open Opportunities
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="usa-nav-secondary">
    <ul class="usa-unstyled-list usa-nav-secondary-links">
      <li>
        <a href="{{ site.baseurl }}/">Help</a>
      </li>
    </ul>
  </div>
</header>
