
// USWDS colors
$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-secondary:            #e31c3d;
$color-secondary-dark:       #cd2026;
$color-secondary-darkest:    #981b1e;

$color-primary-alt-dark:     #00a6d2;
$color-primary-alt-darkest:  #046b99;
$color-primary-alt-lightest: #e1f3f8; // lighten($color-primary-alt, 90%)

$color-white:                #ffffff;
$color-base:                 #212121;
$color-black:                #000000;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #757575; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #d6d7d9; // lighten($color-gray-dark, 80%)
$color-gray-lightest:        #f1f1f1; // lighten($color-gray-dark, 91%)

$color-gray-cool-light:      #dce4ef; // lighten($color-primary, 90%)
$color-cool-blue-light:      #4773aa;
$color-green:                #2e8540;

$color-focus:                #3e94cf;
$color-visited:              #4c2c92;

$focus-shadow: 0 0 3px $color-focus, 0 0 7px $color-focus;

// Open Opps custom color
$color-teal:                 #009688;
