
// Typography
$em-base:             10px;
$rs:                  17px;
$base-font-size-px:   17px;
$base-font-size:      rem($base-font-size-px);
$xsmall-font-size:    rem(12px);
$small-font-size:     rem(14px);
$lead-font-size:      rem(19px);
$title-font-size:     rem(52px);

$h1-font-size:  44px;
$h2-font-size:  34px;
$h3-font-size:  24px;
$h4-font-size:  19px;
$h5-font-size:  16px;
$h6-font-size:  13px;

$base-line-height:    1.5;
$heading-line-height: 1.3;
$lead-line-height:    1.7;

$font-normal:         400;
$font-bold:           700;

$font-serif: Merriweather,Georgia,Cambria,"Times New Roman",Times, serif;
$font-sans: "Source Sans Pro","Helvetica Neue",Helvetica,'Roboto', sans-serif;
