<fieldset class="usajobs-help-center-contact-us">
  <!-- First name -->
  <div class="required-input">
    <label for="FirstName" class="usajobs-help-center-contact-us__label-first">First name</label>
    <span class="field-validation-valid usa-input-error-message" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
    <input data-val="true" data-val-length="First name must be less than 20 characters." data-val-length-max="20" data-val-regex="First Name must not contain special characters except apostrophe(') and dash(-)." data-val-regex-pattern="^([a-zA-Z '-]+)$" data-val-required="First Name is required." id="FirstName" maxlength="20" name="FirstName" type="text" value="" aria-required="true" required>
  </div>

  <!-- Last name -->
  <div class="required-input">
    <label for="LastName">Last name</label>
    <span class="field-validation-valid usa-input-error-message" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
    <input data-val="true" data-val-length="Last name must be less than 30 characters." data-val-length-max="30" data-val-regex="Last Name must not contain special characters except apostrophe(') and dash(-)." data-val-regex-pattern="^([a-zA-Z '-]+)$" data-val-required="Last Name is required." id="LastName" maxlength="30" name="LastName" type="text" value="" aria-required="true" required>
  </div>

  <!-- Email address -->
  <div class="required-input">
    <label for="EmailAddress">Primary email address</label>
    <span class="field-validation-valid usa-input-error-message" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
    <input class="form-control" data-val="true" data-val-email="The email address you entered does not represent a valid email address." data-val-length="Email address must be less than 128 characters." data-val-length-max="128" data-val-required="A valid email address is required." id="EmailAddress" maxlength="128" name="EmailAddress" type="text" value="" aria-required="true" required>
  </div>

  <!-- Phone number -->
  <div class="optional-input">
    <label for="PhoneNumber">
      Telephone number <span class="usa-additional_text">Optional</span>
    </label>
    <span class="field-validation-valid usa-input-error-message" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
    <input class="form-control" data-val="true" data-val-length="A phone number must be 25 characters or less." data-val-length-max="25" data-val-regex="A phone number may contain only numbers and any of the following characters (.),(+),(\),(/),(-), space, and left and right parentheses." data-val-regex-pattern="^[0-9.\-+\\/() ]+$" id="PhoneNumber" maxlength="25" name="PhoneNumber" type="text" value="">
    <p class="usajobs-form__help-brief">
      Please provide your phone number in case your issue cannot be resolved via email.
    </p>
  </div>

  <div class="required-input">
    <label class="labeltext" for="Comment">Question / Comment</label>
    <span class="usa-input-error-message field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
    <textarea class="form-control usajobs-help-center-contact-us__question" cols="40" data-val="true" data-val-length="Comment must be less than 2000 characters." data-val-length-max="2000" data-val-regex="Invalid characters (<) or (>)." data-val-regex-pattern="[^><]+" data-val-required="Question / Comment is required." id="Comment" maxlength="2000" name="Comment" rows="5" aria-required="true" required></textarea>
    <p class="usajobs-form__help-brief">
      Please do not include your Social Security Number.
    </p>
    <p class="usajobs-form__help-brief usajobs-help-center-contact-us__comment-count" id="CommentCount">(2000 characters remaining)</p>
  </div>
</fieldset>
