<div class="usajobs-content-gutter usajobs-help-center-article-contact">
  <div id="contact-us-form" class="usajobs-help-center-article-contact__form-container">
    <h2>Contact us</h2>
    <h2 class="usajobs-help-center__lead">
      Please use the form below to contact us. We will get back to you within one business day. Your interest and patience are appreciated.
    </h2>
    <p>
      The USAJOBS Support Desk is available Monday through Friday, 7am – 8pm EST; Saturday and Sunday, 8am – 4pm EST (excluding federal holidays). USAJOBS does not provide direct phone support. The form below will allow you to send an email to the Help Desk where you can request assistance by phone or email.
    </p>
    <form name="example" class="usa-form-large usajobs-form usajobs-form--narrow" action="/Help/Support/" method="post" novalidate="novalidate">
      <span class="usajobs-form__legend">All fields are required unless otherwise noted</span>
      <input type="hidden" id="SelectedContactReason" name="SelectedContactReason" value="{{ page.permalink }} - {{ page.breadcrumb }}">
      {% unless page.long-form %}
        {% include components/article/contact-form-default.html %}
      {% else %}
        {% include components/article/contact-form-long.html %}
      {% endunless %}
      <div class="usajobs-button_bar-container">
        <div class="usajobs-button_bar--slim">
          <div class="usajobs-button_bar__body">
            <input type="submit" class="usa-button-big usa-button-primary usajobs-button_bar__save" value="Send" id="btn-send" name="SendButton">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
