<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include analytics.html %}
    <div class="usajobs-openopps-help-center">
      <!-- include components/search-banner-with-nav.html
           include components/breadcrumbs.html -->
      <section class="usajobs-shell usajobs-shell--large" data-object="help-article">
        <section class="usajobs-canvas">
          <div class="usajobs-help-center-article usajobs-content-gutter">
            <main class="usajobs-content-well" id="main-content">
              <div class="usajobs-help-center-article__container">
                <h1>{{ page.title }}</h1>
                {{ content }}
              </div>
            </main>
            <aside class="usajobs-rightrail">
              <div class="usajobs-help-center-article__reveal-contact-us">
                <a class="usa-button usa-button-big usa-button-primary" href="#contact-us-form" data-behavior="help-article.contact" aria-controls="contact-us-form">
                  <i class="fa fa-envelope"></i> Contact us
                </a>
              </div>
              {% strip %}
              {% assign sorted_pages = site.html_pages | sort:"title" %}
              <h3 class="usajobs-help-center-article__related">Related articles</h3>
              <ul class="usajobs-help-center-article__related-list">
              {% for node in sorted_pages %}
                {% if node.category == page.category %}
                  {% if node.exclude_from_category != true %}
                    {% if node.url != page.url %}
                <li>
                  <a href="{{ site.baseurl }}{{ node.url }}">
                    {{ node.title }}
                  </a>
                </li>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% endstrip %}
              </ul>
            </aside>
          </div>
        </section>
        {% include components/article/submit.html %}
      </section>
    </div>
    {% include components/footer.html %}
  </body>
</html>
