<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include analytics.html %}
    <div class="usajobs-openopps-help-center">
      {% include components/banner.html %}
      {% include components/nav/secondary.html %}
      <section class="usajobs-shell usajobs-shell--large">
        <section class="usajobs-canvas">
          <div class="usajobs-openopps-help-center-article usajobs-content-gutter">
            <main class="usajobs-content-well" id="main-content">
              <div class="usajobs-openopps-help-center-article__container">
                <h1 class="usajobs-openopps-help-center-article__title">{{ page.title }}</h1>
                {{ content }}
              </div>
            </main>
          </div>
        </section>
      </section>
    </div>
    {% include components/footer.html %}
  </body>
</html>
