<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body class="amp-border-box">
    {% include header.html %}
    {% include analytics.html %}
    <div class="usajobs-openopps-help-center">
      <section class="usajobs-shell usajobs-shell--large" data-object="help-article">
        <section class="usajobs-canvas">
          <div class="usajobs-openopps-help-center-article usajobs-content-gutter">
            <main class="usajobs-content-well" id="main-content">
              {{ content }}
            </main>
          </div>
        </section>
      </section>
    </div>
    {% include components/footer.html %}
  </body>
</html>
