<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include analytics.html %}
    <div class="usajobs-openopps-help-center">
      <section class="usajobs-shell usajobs-shell--large" data-object="help-article">
        <section class="usajobs-canvas">
          <div class="usajobs-help-singleton usajobs-content-gutter">
            <main class="usajobs-error" id="main-content" role="main">
              <div class="usa-grid-full usajobs-error__container">
                <div class="usajobs-error__img usajobs-error__img--404"></div>
                <h1 class="usajobs-error__title" id="{{ page.title | slugify }}">{{ page.title }}</h1>
                {{ content }}
              </div>
            </main>
          </div>
        </section>
      </section>
    </div>
    {% include components/footer.html %}
  </body>
</html>
